<header>
  <nav role='navigation'>
  <div id="menuToggle">
    <input type="checkbox" />
    <span class="menu-span"></span>
    <ul id="menu">
      <div class="vimeo-wrapper-menu">
        <iframe src="https://player.vimeo.com/video/{% include menuVideo.html %}?background=1&autoplay=1&loop=1&byline=0&title=0"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     </div>
     <div class="menu-links-container">
         <div class="menu-links">
           <br>
           <br>
           <br>
          <li><a href="https://arca.ffm.to/atatatatat">@@@@@</a></li>
          <li><a href="https://www.patreon.com/arca1000000">patreon</a></li>
          <li><a href="https://twitch.tv/arca1000000">twitch</a></li>
          <li><a href="http://instagram.com/arca1000000">instagram</a></li>
          <li><a href="http://twitter.com/arca1000000">twitter</a></li>
          <li><a href="http://facebook.com/arca1000000">facebook</a></li>
          <li><a href="https://discordapp.com/invite/78Xjy74">discord</a></li>
          <br>
          <!-- <li><a href="#">Link Two</a></li> -->
                <div class="spacer"></div>

          </div>
        </div>
      </div>
    </ul>
  </div>
</nav>

</header>
