<header>
  <nav role='navigation'>
  <div id="menuToggle">
    <input type="checkbox" />
    <span class="menu-span"></span>
    <ul id="menu">
      <div class="vimeo-wrapper-menu">
        <iframe src="https://player.vimeo.com/video/{% include menuVideo.html %}?background=1&autoplay=1&loop=1&byline=0&title=0"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     </div>
     <div class="menu-links-container">
         <div class="menu-links">
           <br>
           <br>
           <br>
          <li><a href="https://youtu.be/gfGz4MTQ28I">NONBINARY</a></li>
          <li><a href="https://arca.ffm.to/nonbinary">LISTEN / WATCH</a></li>
          <li><a href="https://merch.streamelements.com/arca1000000">MERCH</a></li>
          <li><a href="https://twitch.tv/arca1000000">TWITCH</a></li>
          <li><a href="https://www.patreon.com/arca1000000">PATREON</a></li>
          <li><a href="https://discordapp.com/invite/78Xjy74">DISCORD</a></li>
          <li><a href="https://www.instagram.com/arca1000000">INSTAGRAM</a></li>
          <li><a href="https://twitter.com/arca1000000">TWITTER</a></li>
          <li><a href="http://facebook.com/arca1000000">FACEBOOK</a></li>
          <br>
          <!-- <li><a href="#">Link Two</a></li> -->
                <div class="spacer"></div>

          </div>
        </div>
      </div>
    </ul>
  </div>
</nav>

</header>
