<header>
  <nav role='navigation'>
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />

    <!--
    Some spans to act as a hamburger.

    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->

    <span class="menu-span"></span>

    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      <div class="vimeo-wrapper-menu">
        <iframe src="https://player.vimeo.com/video/392271375?background=1&autoplay=1&loop=1&byline=0&title=0"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     </div>
     <div class="menu-links-container">
         <div class="menu-links">
           <br>
           <br>
           <br>
          <li><a href="https://arca.ffm.to/atatatatat">@@@@@</a></li>
          <br>
          <!-- <li><a href="#">Link Two</a></li> -->
            <div id="marquee" class="credits"></div>
            <div id="marquee2" class="dates"></div>
                <div class="spacer"></div>

          </div>
        </div>
      </div>
    </ul>
  </div>
</nav>

</header>
